<%= form_for [ User.find(@article.user_id), @article, Comment.new ] do |f| %>

  <div class="form-group">
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <%= f.hidden_field :author_id, value: @article.user_id %>

  <%= f.hidden_field :article_id, value: @article.id %>

   <%= f.submit "Comment", class: 'btn btn-primary' %>

<% end %>