<%= form_for [ current_user, Article.new ] do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Generate topic", class: 'btn btn-primary' %>

<% end %>