<h1><%= @article.title %> (<%= @article.count_comments %>) </h1>
<p><%= @article.description %></p><br>
<% if user_signed_in? %>
  <% if @article.author?(current_user) %>
    <%= link_to 'Remove', user_article_path(current_user.id, @article.id), :method => :delete, class: 'btn btn-danger' %>
  <% end %>
<% end %>
<h3>Comments:</h3>
<% @article.comments.each do |comment| %>
  <p>
    <b><%= authors_name(comment.author_id) %></b><br>
    <%= comment.body %>
    <% if user_signed_in? %>
      <% if !comment.author?(current_user) %>
        <br><%= link_to 'abuse', abuse_user_article_comment_path(@article.user_id, @article.id, comment.id), :method => :put %> 
        <%= comment.abuse_count %> 
      <% end %>
    <% end %>
  </p><br>
<% end %>

<% if user_signed_in? %>
  <%= render 'comments/form' %>
<% end %><br>

<%= link_to "Back", :back, class: 'btn btn-default btn-sm' %><br><br>